<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is an exercise of Node.js course. </br>It uses mapbox.com and darksky.net APIs.</p>
        <img class="portrait" src="/img/me.jpeg" alt="">
    </div>
    {{>footer}}
</body>

</html>